.App {
  height: 100vh;
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  background-color: white;
  height: 30vh;
  width: 25%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 9px 0px #8c8c8c;
}
input{
  font-size: 1vw;
  text-align: center;
  letter-spacing: 2px;
  width: 15%;
  height: 13%;
  margin: 2%;
  border-radius: 2px;
  outline: none;
  border:2px solid rgb(173, 173, 173)
}
input:focus{
  border: 2px solid rgb(0, 0, 0);
  
}

@media only screen  and (max-width:900px){
  
  .card{
    width: 47vw;
  }
  input{
    font-size: 2vw;
  }
}
